@import 'tailwindcss';

@theme {
  --color-ml-yellow: #FFCA40;
  --color-ml-yellow-light: #FFD259;
  --color-ml-gray: #f5f5f5;
  --color-ml-cart-light-yellow: #F6F3EC;
}

@keyframes custom-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: custom-blink 1.5s infinite;
}

